@inherits LayoutComponentBase

<main>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudPopoverProvider />

    <NavMenu /> <!-- Adicione esta linha para incluir o menu de navegação -->
    @Body

</main>
